@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Shared Styles */
.display-flex {
  display: flex;
}

.btn {
  background-color: #ff900e;
  border: none;
  padding: 1.1rem 1.2rem;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
}
.dark-02 {
  color: #424242;
}
.dark-03 {
  color: #727272;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}


/* Navbar related styles */

.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
}
.brand {
  font-weight: 700;
  font-size: 2.8rem;
}

.navbar, .banner, main {
  max-width: 1440px;
  margin: 0 auto;
}

/* Banner related style */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-size: 3.8rem;
  font-weight: 700;
}
.banner-img {
  width: 100%;
}

/* team and feature related Style */
.teams {
  align-items: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
main > section {
  margin-top: 130px;
}
.our-features {
  margin-left: 130px;
  max-width: 530px;
}

.quick-list {
  font-weight: 500;
}
.features{
  color: #ff900e;
}
.our-features>* {
  margin-bottom: 25px;
}
/* Some Facts related Styles */
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact {
  border: 1px solid #ff900e;
  width: 250px;
  height: 250px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name {
  font-size : 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}
.fact-description {
  max-width: 540px;
}

#s1>* {
  margin-bottom: 20px;
}

/* Sponsor Related Style */
.sponsor-info {
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.sponsor-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
  filter: grayscale(100);
}
/* Small Device */
@media screen and (max-width: 576px) {
  main > section {
  margin-top: 70px;
  }
  .nav-bar, .nav-links, .teams {
    flex-direction: column;
  }
  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-features {
    margin-left: 20px;
  }
  .team-img-container, .facts-container, .sponsor-companies {
    grid-template-columns: repeat(1, 1fr);
  }
  .facts-container, .sponsor-companies {
    justify-items: center;
    gap: 24px;
  }
  .sponsor-companies {
    justify-items: center;
    gap: 44px;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  main > section {
  margin-top: 70px;
  }
  .teams {
    flex-direction: column;
  }
  .our-features {
    margin: 40px auto;
  }
  .sponsor-companies, .facts-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 44px;
  }
}


